html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f6f6f6;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    width: 500px;
    padding: 16px;

}

.btn-success{
    background-color: #E85722;
    width: 100%;
    border: 0px;
}

.label-login{
    margin-top: 10px;
}

.login-footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8em;
}